.mainColor {

    background:
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;





}

md-toolbar {
    background:
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);

    background-size: 20px 20px;

}


.thumbnail.display {
    display: inline-block;
    border-color: orangered;
    border-width: 2px;
    height: 100px;
    width: 250px;
    margin-right: 40px;
    margin-left: 10px;

}



.header {
    color: orangered;
    margin-right: 10px;
}

a {
    color: orangered;
}

.bar {
    color: orangered;
}



li {
    color: orangered;
}

.skills {
    float: left;

    width: 100px;
    height: 30px;
    color: orangered;

}



button:visited {
    color: red;
}

.btn-default:visited {
    color: orangered !important;
}



a:hover, a:active  a:visited {
    color: orangered;


}

.flip-container {
    perspective: 1000px;
}
.flip-container:hover .flipper, .flip-container.hover.flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 500px;
    height: 500px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

hr {
    border-color: orangered;
    width: 100%;
}

button {
    color: orangered;
}

.project {

    display: inline-block;

}

.navbar-header {
    padding-right: 20px;
    margin-top: 6px;
    border-width: 3px;
    border-color: white;
}



.writing {
    color: orangered;
}


.navbar-default .navbar-nav > li > a {
    color: orangered; /*Change active text color here*/
    font-size: large;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: orangered !important;
    color: white !important;
    border: none !important;
    outline: 0 !important;
    -webkit-box-shadow: orangered !important;
    box-shadow: orangered !important;
}

.navbar-default .navbar-nav > li > p {
    color: orangered; /*Change active text color here*/
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    font-weight: bold;
    color: orangered;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: orangered; /*BACKGROUND color for active*/
    background-color: #131313;
    border-width: 1px;
    border-color: orangered;
}

.navbar {
    border: 0;
    min-height: 80px;
}

.navbar-nav {
    min-height: 80px;
}

.navbar-brand {
    height: 100%;
}


md-content {
    border-top-width: 2px;
    border-top-color: orangered;
}

.md-toolbar-tools div {
    display: inline-block;
    margin-right: 100px;
}
.md-toolbar-tools ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.md-toolbar-tools li {
    float: left;
}

.md-toolbar-tools li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.md-toolbar-tools a:hover:not(.active) {
    background-color: orangered;
}

.md-toolbar-tools .active {
    background-color:#4CAF50;
}